{{#unless this.isHidden}}
	{{plugin-outlet
		name="category-list-above-each-category"
		connectorTagName=""
		tagName=""
		outletArgs=(hash category=this.category)
	}}
	<tr
		data-category-id="{{this.category.id}}"
		data-notification-level="{{this.category.notificationLevelString}}"
		class="category-row {{if this.category.description_excerpt "has-description" "no-description"}}"
	>
		<td class="category-details" style={{category-color-variable this.category.color}}>
			<div class="category-header">
				{{#if this.category.uploaded_logo.url}}
					<img class="category-icon" src="{{this.category.uploaded_logo.url}}" alt="{{this.category.name}}" />
				{{else}}
					<span class="category-icon-placeholder">{{d-icon "folder"}}</span>
				{{/if}}
				<a class="category-title-link" href="/c/{{this.category.parentCategory.slug}}/{{this.category.slug}}/{{this.category.id}}">
					<span class="category-name">{{this.category.name}}</span>
				</a>
			</div>
			{{#if this.category.description_excerpt}}
				<div class="category-description">
					{{html-safe this.category.description_excerpt}}
				</div>
			{{/if}}
		</td>

		<td class="topics">
			{{d-icon "comments"}}
			<span class="number">{{this.category.topic_count}}</span>
		</td>

		<td class="replies">
			{{d-icon "reply"}}
			<span class="number">{{this.category.post_count}}</span>
		</td>

		<td class="latest">
			{{#if this.category.topics.length}}
				{{#each this.category.topics as |topic|}}
					<div class="featured-topic">
						<span class="categories-latest-topic-avatar">
							<a href="/u/{{topic.last_poster.username}}" data-user-card="{{topic.last_poster.username}}">
								{{avatar topic.last_poster imageSize="small"}}
							</a>
						</span>
						<a class="title" href="/t/{{topic.slug}}/{{topic.id}}">
							{{topic.title}}
						</a>
						<a class="last-posted-at" href="/t/{{topic.slug}}/{{topic.id}}">
							<span class="relative-date" data-time="{{topic.last_posted_at}}" data-format="tiny"></span>
						</a>
					</div>
				{{/each}}
			{{else}}
				<li class="empty-topic">No recent topics</li>
			{{/if}}
		</td>
	</tr>
{{/unless}}
